/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/
:root {
  --color: rgb(0, 0, 40);
  --accent-color: #ff0070;
  --font-family: 'IBM Plex Mono';
  --font-size: 18px;
  --font-weight: 700;
  --line-height: 23.4px;
}
