/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/
:root {
  --main-text-color: #F1B2CE;
  --title-color: #DB00FF;
  --background-color: #000028;
  --background-image: url(../images/cover-image-dark.png);
  --highlight_color:#FF0070;
  --font-family: 'IBM Plex Mono';
  --font-size: 18px;
}
